h3{
    margin: 0 0;
    font-size: 23px;
}

h5{
    margin: 0 0;
    font-size: 17px;
    margin-top: 10px;
}

ul, ol{
    list-style-type: none;
    padding-left: 0;
}

li{
    margin-top: 15px;
    background-color: var(--color-accent);
    padding: 7px;
    border-radius: 7px;
}