#sidebar{
    position: fixed;
    right: 15px;
    margin-top: 10px;
    width: 20%;
    max-width: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    background-color: var(--color-primary);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    bottom: 15px;
    top: 75px;
    text-align: center;
}

#sidebar img{
    width: 75%;
    border-radius: 5px;
}

/* */


#content{
    margin: 0 0;
    width: 75%;
    word-wrap: break-word; 
    height: 100%;
}

#top_article{
    margin-top: 17px;
}

.div{
    background-color: var(--color-primary);
    border-radius: 7px;
    padding: 15px;
}

#tips{
    margin-top: 15px;
}

#tips h3{
    margin: 0 0;
    font-size: 23px;
}

#tips h5{
    margin: 0 0;
    font-size: 17px;
    margin-top: 10px;
}

#tips ul{
    list-style-type: none;
    padding-left: 0;
}

#tips li{
    margin-top: 15px;
    background-color: var(--color-accent);
    padding: 7px;
    border-radius: 7px;
}

h2{
    margin: 0 0;
    margin-top: 1%;
    margin-bottom: 0.1%;
    font-size: 2.5vh;
    font-size: 2.5vw;
}

#t_img{
    width: 100%;
    border-radius: 5px;
}

@media screen and (max-height: 756px){
    h3{
        display: none;
    }
    p{
        margin: 0 0;
        margin-top: 10px;
    }
}

@media screen and (max-width: 689px){
    #navy{
        width: 95% !important;
        margin: 5px;
    }

    #sidebar{
        position: static;
        width: 100%;
        justify-self: unset;
        top: unset;
        bottom: unset;
        max-width: unset;
        right: unset;
        padding: 0 0;
        padding-bottom: 15px;
        backdrop-filter: unset;
    }

    #sidebar h3{
        margin: 0 0;
        margin-top: 15px;
    }

    #sidebar p{
        margin: 0 0;
        margin-top: 15px;
    }

    #content{
        width: 100%;
    }
    h2{
        font-size: 3rem !important;
    }
}