.sidebar{
    background-color: rgba(59, 59, 59, 0.438);
}
.con{
    background-color: rgba(184, 52, 52, 0.438);
    margin-top: 60px;
    display: flex;
    flex-direction: row-reverse;
}

#image{
    width: 90%;
    border-radius: 10px;
}

#article{
    padding: 15px;
    font-size: 25px;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.article>h2{
    margin-top: 5px;
}

.sidebar{
    min-width: 12%;
    border-radius: 7px;
    padding: 7px 15px;
    text-align: left;
}