#sidebar{
    position: fixed;
    right: 15px;
    margin-top: 10px;
    position: fixed;
    width: 20%;
    max-width: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    background-color: var(--color-primary);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    bottom: 15px;
    top: 75px;
    text-align: center;
}

#sidebar img{
    width: 75%;
    border-radius: 5px;
}

/* */


#content{
    margin: 0 0;
    width: 75%;
    word-wrap: break-word; 
    height: 100%;
}

#top_article{
    background-color: var(--color-primary);
    margin-top: 17px;
    border-radius: 7px;
}

#inner_top_article{
    padding: 15px;
}

h2{
    margin: 0 0;
    margin-top: 1%;
    margin-bottom: 0.1%;
    font-size: 2.5vh;
    font-size: 2.5vw;
}

#t_img{
    width: 100%;
    border-radius: 5px;
}



@media screen and (max-height: 756px){
    h3{
        display: none;
    }
    p{
        margin: 0 0;
        margin-top: 10px;
    }
}

@media screen and (max-height: 572px) , screen and (max-width: 689px){
    #sidebar{
        display: none;
    }
    #content{
        width: 100%;
    }
    h2{
        font-size: 3rem !important;
    }
}